body {
    background-color: #e8f4f8;
    margin: auto;
    width: 90%;
    font-family: Helvetica, Arial, sans-serif;
}
.desc {
    margin: auto;
    width: 80%;
}
.circle{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius:20px;
    float:left;
    margin-right: 100px;
}
h2.clear{
    clear: both;
    padding-top: 60px;
    margin-left: auto;
    width:90%;
}
.ills {
    width: 83%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.ills div {
    vertical-align: middle;
    flex: 48%;
    max-width: 100%;
    margin: 1%;
}
#ill {
    background-color: #f7ebe6;
    text-align: center;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
}
#ill img {
    vertical-align: middle;
    position: center;
    width:94%;
    padding: 3%;
    border-radius: 20px;
}