body {
    background-color: #e8f4f8;
    margin: auto;
    width: 90%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
}
.desc {
    margin: auto;
    width: 80%;
    padding-bottom: 60px;
}
.circle{
    width: 35%;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
    border-radius:20px;
    float:left;
    margin-right: 10%;
}
h2.clear{
    clear: both;
    margin-left: auto;
    width:90%;
}
.ills {
    width: 83%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.ills div {
    vertical-align: middle;
    flex: 48%;
    max-width: 100%;
    margin: 1%;
}
#ill {
    background-color: #ccf0fc;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
}
#ill img {
    vertical-align: middle;
    position: center;
    width:94%;
    padding: 3%;
    border-radius: 20px;
}